<div id="snippetContent">
  <!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css">-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous"/>
  <section>
    <div class="container mb-0 col-lg-10">
      <h1 class="text-center mt-3 mb-3" style="font-family: STCaiyun, serif; font-weight: normal; font-size: xxx-large">
        旅游博客
      </h1>
      <div class="row mb-3">
        <% month_map = { 1 => 'Jan', 2 => 'Feb', 3 => 'Mar', 4 => 'Apr',
                         5 => 'May', 6 => 'Jun', 7 => 'Jul', 8 => 'Aug',
                         9 => 'Sep', 10 => 'Oct', 11 => 'Nov', 12 => 'Dec' } %>
        <% if @blogs.any? %>
          <% @blogs.each do |blog| %>
            <% day = blog.created_at.localtime.strftime '%d' %>
            <% month = blog.created_at.localtime.strftime '%m' %>
            <div class="col-lg-4 col-md-6 mb-lg-4">
              <article class="card card-style2 shadow-lg mb-0" style="width: 310px">
                <div class="card-img">
                  <div>
                    <%= link_to image_tag(blog.get_or_default_image,
                                          style: "width: 310px; height: 180px; object-fit: cover; object-position: center",
                                          class: "rounded-top"), blog %>
                  </div>
                  <!--                  <img class="rounded-top" src="https://via.placeholder.com/350x280/6A5ACD/000000" alt="...">-->
                  <div class="date"><span><%= day %></span><%= month_map[month.to_i] %></div>
                </div>
                <div class="card-body mb-0" style="height: auto">
                  <h3 class="h5"><%= link_to blog.title, blog %></h3>
                  <% tourist_route = TouristRoute.find(blog.tourist_route_id) %>
                  <p class="display-30">
                    <%= label_tag 'tourist_route_name', tourist_route.name,
                                  style: "font-weight: bold" %>：<%= tourist_route.origin_dest %><br/>
                    旅程共<%= tourist_route.total_days %>天，花费<%= tourist_route.cost %>元
                  </p>
                  <%= link_to '查看详情', blog, class: "read-more" %>
                  <div class="card-footer mt-3 mb-0">
                    <ul class="mb-0">
                      <li>
                        <% user = User.find(blog.user_id) %><i class="fas fa-user"></i>
                        <% if current_user && user == current_user %>
                          <%= link_to user.username, current_user_details_path, class: "" %>
                        <% else %>
                          <%= link_to user.username, user_details_url(user.id) %>
                        <% end %>
                      </li>
                      <li>
                        <i class="far fa-comment-dots"></i><span><%= link_to blog.comments.size, blog %></span>

                      </li>


                      <!--                      <li><a href="/"><i class="fas fa-user"></i>rittany Hucks</a></li>-->
                      <!--                      <li><a href="/"><i class="far fa-comment-dots"></i><span>26</span></a></li>-->
                    </ul>
                  </div>
                </div>
              </article>
            </div>
          <% end %>
        <% else %>
          <div class="card shadow mb-3 text-center">
            <div class="card-body">
              <br/>
              <p class="card-title text-info"
                 style="font-size: x-large; font-weight: bold; font-family: STKaiti, serif">
                目前还没用户分享旅游博客哦！
              </p>
              <p class="card-title text-info"
                 style="font-size: x-large; font-weight: bold; font-family: STKaiti, serif">
                请点击右下角蓝色按钮创建新的旅游博客！
              </p>
              <br/>
            </div>
          </div>
        <% end %>
      </div>

      <%= link_to "写博客", new_blog_path, class: "btn btn-primary btn-lg mb-3", style: "float: right" %>

    </div>
  </section>


</div>