<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
  <%= link_to "Edit this comment", edit_blog_comment_path(@comment) %> |
  <%= link_to "Back to comments", blog_comments_path %>

  <%= button_to "Destroy this comment", @comment, method: :delete %>
</div>
