<div id="<%= dom_id air_route %>">
  <p>
    <strong>From:</strong>
    <%= air_route.from %>
  </p>

  <p>
    <strong>To:</strong>
    <%= air_route.to %>
  </p>

  <p>
    <strong>Departure time:</strong>
    <%= air_route.departure_time %>
  </p>

  <p>
    <strong>Landing time:</strong>
    <%= air_route.landing_time %>
  </p>

  <p>
    <strong>Is direct:</strong>
    <%= air_route.is_direct %>
  </p>

</div>
