<div id="<%= dom_id tourist_route %>">
  <p>
    <strong>Origin:</strong>
    <%= tourist_route.origin %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= tourist_route.destination %>
  </p>

  <p>
    <strong>Total days:</strong>
    <%= tourist_route.total_days %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= tourist_route.cost %>
  </p>

  <p>
    <strong>Agency:</strong>
    <%= tourist_route.agency %>
  </p>

</div>
