<div id="<%= dom_id hotel %>">
  <p>
    <strong>Name:</strong>
    <%= hotel.name %>
  </p>

  <p>
    <strong>Types:</strong>
    <%= hotel.types %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= hotel.rate %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= hotel.location %>
  </p>

</div>
